# Backend API URL (Replace with your deployed backend server URL in production, e.g., https://your-backend-domain.onrender.com)
VITE_SERVER_URL=http://localhost:5000

# Razorpay Client API Key (Replace with your Razorpay Key ID, e.g., rzp_test_TKyuJm6IqR8VT9)
VITE_RAZORPAY_KEY=rzp_test_TKyuJm6IqR8VT9
